<div class="side-pod gallery-pod">
  <div id="<%= pod.name.downcase.gsub(" ",'_') + '_' +"#{ pod.id}"  %>" class="carousel slide">
    <div class="carousel-inner">
      <% pod.portfolio_entry.items.each do |item| %>
        <div class="item <%= "active" if pod.portfolio_entry.items.first == item %>">
          <%= link_to(image_fu(item.image, '340x226#c', :alt => item.image.alt_tag), item.image.url, :class => "cboxElement img-responsive",:rel => 'group_' + "#{item.gallery.id}") %>
        </div>
      <% end if pod.portfolio_entry.present? and pod.portfolio_entry.items.present? %>
    </div>
    <div class="carousel-caption">
      <% if pod.url.present? %>
        <h3><%=link_to pod.name, pod.url %></h3>
      <% else %>
        <h3><%= pod.name %></h3>
      <% end %>
    </div>
    <div class="overlay"></div>
    <!-- Carousel nav -->
    <a class="left carousel-control" href="#<%= pod.name.downcase.gsub(" ",'_')  + '_' + "#{pod.id}" %>" data-slide="prev"></a>
    <a class="right carousel-control" href="#<%= pod.name.downcase.gsub(" ",'_') + '_' + "#{pod.id}" %>" data-slide="next"></a>
  </div>
</div>
