<% if refinery_user? && "#{controller_name}##{action_name}" != 'pages#preview' %>
  <% unless admin? # all required JS included by backend. %>
    <% content_for :stylesheets, stylesheet_link_tag('refinery/site_bar') unless !!local_assigns[:exclude_css] %>
    <%= yield(:stylesheets) unless local_assigns[:head] or local_assigns[:exclude_css] %>
  <% end -%>
  <div id='site_bar'>
    <div id='site_bar_content' class='clearfix'>
      <div id='editor_switch'>
        <a id="simple-menu" href="#sidr">Toggle menu</a>
        <%=     link_to_if(admin?, 'Switch to your website',
                           (if session.keys.map(&:to_sym).include?(:website_return_to) and session[:website_return_to].present?
                              session[:website_return_to]
                            else
                              refinery.root_path(:locale => (Refinery::I18n.default_frontend_locale if Refinery.i18n_enabled?))
                            end)) do
          link_to 'Switch to your website editor',
                  (if session.keys.map(&:to_sym).include?(:refinery_return_to) and session[:refinery_return_to].present?
                     session[:refinery_return_to]
                   else
                     refinery.admin_root_path
                   end rescue refinery.admin_root_path)
        end -%>
      </div>


      <%= link_to image_tag("#{"http://refinerycms.com/images/" unless local_request?}refinery/logo-site-bar.png", :alt => "Refinery (tm) Content Manager"),
                  'http://refinerycms.com',
                  :target => '_blank',
                  :id => 'site_bar_refinery_cms_logo' %>

      <div id='site_bar_branding'>
        <span id='site_bar_company_name'>
          <%= Refinery::Core.site_name %>
        </span>

        <%= link_to 'Log Out', refinery.destroy_refinery_user_session_path, :id => 'logout' %>
      </div>
    </div>
  </div>
<% end %>
