<% face = copywriting('Facebook', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% twit = copywriting('Twitter', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% ins = copywriting('Instagram', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% email = copywriting('Email', {:phrase_type => 'string', :scope => 'Header', :default => '#' }) %>
<% number = copywriting('Contact Number', {:phrase_type => 'string', :scope => 'Header', :default => '+44 780972 6266' }) %>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".-nav">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="top-menu list-inline visible-xs">
        <li><a href="tel:+447809726266"><img src="/assets/phone.png"></a></li>
        <li><a href="mailto:<%= email %>"><img src="/assets/envelope.png"></a></li>
      </ul>
      <!--     <a class="navbar-brand hidden-xs" href="#"><img src="images/logo.png" ></a> -->
    </div>
    <div class="collapse navbar-collapse -nav">
      <%= render(:partial => "/refinery/menu", :locals => {
          :dom_id => 'navbar-left list-inline',
          :css => 'navbar-left list-inline'
      }) %>
      <ul class="navbar-right social-media list-inline">
        <li><a href="<%= face %>" target="_blank"><img alt="facebook" title="facebook" src="/assets/facebook.png"></a></li>
        <li><a href="<%= twit %>" target="_blank"><img alt="twitter" title="twitter" src="/assets/twitter.png"></a></li>
        <li><a href="<%= ins %>" target="_blank"><img alt="instagram" title="instagram" src="/assets/instagram.png"></a></li>
        <li class="hidden-xs"><a href="tel:<%= number %>"><img src="/assets/phone.png" class="hidden-sm"><%= number %></a></li>
      </ul>
    </div>

  </div>
</nav>

<% @all_locations = Refinery::Locations::Location.where("parent_id IS NULL").order('position ASC') %>
<% if @all_locations.present? %>
  <div class="overlay-hover" id="overlay">
    <nav class="overlay-menu">
      <ul><h2>Destinations</h2>
        <% @all_locations.each do |location| %>
          <li><%= link_to(image_fu(location.flag_image, '20x20#c') + location.name, refinery.locations_location_path(location)) %></li>
        <% end %>
          <li class="close-image"><img class="close-menu" src="/assets/close.png"/></li>
      </ul>
    </nav>
  </div>
<% end %>




