<h1><%= @gallery.title %></h1>
<section id='records'>



   <%= form_for [refinery, :portfolio_admin, Refinery::Portfolio::Item.new], authenticity_token: false, :html => {multiple: true, class: 'dropzone', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }}  do |f| %>
      <div class="fallback">
          <%= f.file_field :image %>
          <%= f.submit 'Upload Image' %>
      </div>
          
    <% end %>

    <%= form_tag refinery.portfolio_admin_gallery_process_import_path, class: 'process' do %>
      <%= hidden_field_tag :gallery_id, @gallery.id %>
      <%#= submit_tag 'Submit'  %>
    <% end %>


  <% if searching? %>
    <h2><%= t('results_for', :scope => 'refinery.admin.search', :query => params[:search]) %></h2>
    <% if @items.any? %>
      <%= render :partial => 'items', :collection => @items %>
    <% else %>
      <p><%= t('.no_results', :scope => 'refinery.admin.search') %></p>
    <% end %>
  <% else %>
    <% if @items.any? %>
      <%= will_paginate @items %>
      <%= render :partial => "sortable_list" %>
      <%= will_paginate @items %>
    <% else %>
      <p>
        <strong>
          <%= t('.no_items_yet', :create => t('new', :scope => 'refinery.portfolio.admin.items')) %>
        </strong>
      </p>
    <% end %>
  <% end %>


</section>

<section id='actions'>
  <%= render :partial => 'actions' %>
</section>

<%= render '/refinery/admin/make_sortable', :tree => false if @items.many? %>


<% content_for :stylesheets, stylesheet_link_tag('refinery/portfolio/admin/dropzone') %>
<% content_for :javascripts, javascript_include_tag('refinery/portfolio/admin/dropzone') %>

<script>

  $(document).ready(function(){
    var form = $('#new_item');
    var app = {};

    app._dropzoneSendingCallback = function(file, xhr, formData) {
      console.dir(formData)
      $.each(form.data('form-data'), function(k, v) {
        formData.append(k, v);
      });
    };

    app._dropzoneCompleteCallback = function(file, data) {
      $('.process').submit();
    }


    $( "[name='utf8']" ).remove();
    // $( "[name='authenticity_token']" ).remove();




  // disable auto discover
  Dropzone.autoDiscover = false;
 

  var dropzone = new Dropzone (".dropzone", {
    maxFilesize: 5, // Set the maximum file size to 256 MB
    paramName: "item[image]", // Rails expects the file upload to be something like model[field_name]
    addRemoveLinks: false, // Don't show remove links on dropzone itself.
    url: form.data('url'),
    method: "post",
    acceptedMimeTypes: "image/bmp,image/gif,image/jpg,image/jpeg,image/png",
    autoProcessQueue: true,
    clickable: true,
    parallelUploads: 3,
    paramName: "file",
    dataType: 'XML',
    replaceFileInput: false,
    formData: form.data('form-data'),
    // accept: app._dropzoneAcceptCallback,รท
    sending: app._dropzoneSendingCallback,
    queuecomplete: app._dropzoneCompleteCallback
  }); 

  
});



</script>




