<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
<% site_bar = render('/refinery/site_bar', :head => true) -%>
<%= render '/refinery/head' %>
  <body id="home_page">


    
  <%= site_bar -%>
  <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>


  <%= render '/refinery/header' -%>

  <%= render '/shared/banner' %>

  <div id="welcome" class="welcome">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= @page.title %></h1>
          <h2>Tailormade Africa is a specialist tailor-made safari and African travel company. We are the industry leaders in customer care and bespoke itinerary design.</h2>
          <div class="text">
            <%= raw @page.content_for(:body) %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a href="#contact_area" class="btn btn-custom">Enquire Now</a>
        </div>
      </div>
    </div>
  </div>

  <% safaris = Refinery::Activities::Activity.where("activity_type = ? OR activity_type = ?", 'safari_type', 'both') %>
  <% if safaris.present? %>
    <div class="safari-type">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Best For ...</h1>
            <p class="click">Please click on the options below</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="controls">
              <span class="safari-slider-next"></span>
              <span class="safari-slider-prev"></span>
            </div>
            <ul class="bxsliderSafari">
              <% safaris.each do |item| %>
                <li>
                  <div class="safari-type-item">
                    <%= link_to refinery.activities_activity_path(item) do %>
                      <div class="caption">
                        <h3><%= raw item.name %></h3>
                        <div class="btn btn-custom">Read More</div>
                      </div>
                      <div class="slider-overlay"></div>
                      <%= image_fu item.image, "218x330#c" %>
                    <% end %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <% activities = Refinery::Activities::Activity.where("activity_type = ? OR activity_type = ?", 'experience', 'both').order("RANDOM()").first(10) %>
  <% if activities.present? %>
    <div class="experience">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Africa Experiences</h1>
            <p class="click">Please click on the options below</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="controls">
              <span class="experience-slider-next"></span>
              <span class="experience-slider-prev"></span>
            </div>
            <ul class="bxsliderExperience">
              <% activities.each_slice(7).each do |items| %>
                <li>
                  <% items.each do |item| %>
                    <% if item == items.first %>
                      <div class="experience-item main-item">
                        <%= link_to refinery.activities_activity_path(item) do %>
                          <div class="caption">
                            <h3><%= raw item.name %></h3>
                          </div>
                          <div class="slider-overlay"></div>
                          <%= image_fu item.image, '440x330#c' %>
                        <% end %>
                      </div>
                    <% else %>
                      <div class="experience-item">
                        <%= link_to refinery.activities_activity_path(item) do %>
                          <div class="caption">
                            <h3><%= raw item.name %></h3>
                          </div>
                          <div class="slider-overlay"></div>
                          <%= image_fu item.image, '217x162#c' %>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="experience-footer">
              <h3 class="hidden-xs">Tailormade Africa has something for everyone.</h3>
              <h2 class="hidden-xs">Speak to an expert at +44 7809 726266 (Clyde) or +44 7791 360170 (Rob)</h2>
              <a href="/activities" class="btn btn-custom">Browse All Experiences</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="why-tma">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Why Tailormade Africa?</h1>
        </div>
      </div>
      <div class="row">
        <%= render '/refinery/pods/shared/pods', :pod_types => ['content'], :limit => 4 -%>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a id="myBtn" class="btn btn-custom">Newsletter Sign Up</a>
          <div id="myModal" class="modal">
            <div class="modal-content">
              <h3>Receive News & Offers from Tailormade Africa</h3>
              <!-- Begin MailChimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
              <style type="text/css">


              </style>
              <div id="mc_embed_signup">
                <form action="https://tailormadeafrica.us12.list-manage.com/subscribe/post?u=491ef6008d7bbb6987ce4ea3d&amp;id=16b6d8760e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email address">
                    </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_491ef6008d7bbb6987ce4ea3d_16b6d8760e" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                  </div>
                </form>
              </div>
              <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
              <!--End mc_embed_signup-->

              <!--<form>-->
                <!--<input class="form-control" placeholder="Enter your email address">-->
                <!--<a href="#" class="btn btn-custom">SUBMIT</a>-->
              <!--</form>-->
              <span class="close">&times;</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
                <a href="#contact_area" class="btn btn-custom">Enquire Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% blogs = Refinery::Blog::Post.live.first(3) %>
  <% if blogs.present? %>
    <div class="recent-blogs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1>Recent Blogs</h1>
          </div>
        </div>
        <div class="row">
          <% blogs.each do |post| %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="recent-blog-item">
                <%= link_to(image_fu(post.image, '360x272#c', :class=>"img-responsive"), refinery.blog_post_path(post)) %>
                <div class="caption cf">
                  <div class="title"><%= link_to post.title, refinery.blog_post_path(post) %></div>
                  <div class="date"><%= post.published_at.strftime('%B %e, %Y') %></div>
                  <div class="comment"><a><i class="fa fa-comment-o"></i><%= post.comments.count %></a></div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render '/refinery/footer' -%>

  <%= render '/refinery/javascripts' %>
  </body>
</html>
