<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>



    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>

    <%= render '/refinery/header' -%>

    <%= render '/shared/banner' %>

    <% if params[:search].present? %>
      <div id="welcome" class="locations search">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 div1">
              <h1>Search Results for: <%= params[:search] %></h1>
              <% if @all_location_items.present? or @all_accommodation_items.present? or @all_activity_items.present? %>
                <% if @all_location_items.present? %>
                  <h2>Destination</h2>
                  <ul class=" list-inline list-unstyled cf">
                    <% @all_location_items.each do |location| %>
                      <li class="search-item">
                        <%= link_to(image_fu(location.cover_image, "105x80#c", :alt => location.cover_image.alt_tag),refinery.locations_location_path(location)) if location.cover_image.present? %>
                        <div class="search-item-body">
                          <h3><%= link_to strip_tags(location.name), refinery.locations_location_path(location) %></h3>
                          <div class="description"><%=raw truncate(location.description, :length => 120) %></div>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                <% end %>
                <div class="clear"></div>
                <% if @all_accommodation_items.present? %>
                  <h2>Accommodation</h2>
                  <ul class=" list-inline list-unstyled cf">
                    <% @all_accommodation_items.each do |accommodation| %>
                      <% if accommodation.is_valid? %>
                        <li class="search-item">    
                          <%= link_to(image_fu(accommodation.cover_image, "105x80#c", :alt => accommodation.cover_image.alt_tag),refinery.accommodations_accommodation_path(accommodation)) if accommodation.cover_image.present? %>               
                          <div class="search-item-body">
                            <h3><%= link_to strip_tags(accommodation.name), refinery.accommodations_accommodation_path(accommodation) %></h3>
                            <div class="description"><%=raw truncate(accommodation.description, :length => 120) %></div>
                          </div>
                        </li>
                      <% end %>
                    <% end %>
                  </ul>
                <% end %>
                <% if @all_activity_items.present? %>
                  <h2>Experiences</h2>
                  <ul class=" list-inline list-unstyled cf">
                    <% @all_activity_items.each do |activity| %>
                        <li class="search-item">
                          <%= link_to(image_fu(activity.image, "80x80#c", :alt => activity.image.alt_tag),refinery.activities_activity_path(activity)) if activity.image.present? %>
                          <div class="search-item-body">
                            <h3><%= link_to strip_tags(activity.name), refinery.activities_activity_path(activity) %></h3>
                            <div class="description"><%=raw truncate(activity.description, :length => 120) %></div>
                          </div>
                        </li>
                    <% end %>
                  </ul>
                <% end %>
              <% else %>
                Sorry, no search results was found.
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% elsif action_name == "index" %>

      <% if @locations.present? %>
        <div id="welcome" class="locations">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 div1">
                <h1>Destinations</h1>
                <ul class="list-unstyled">
                  <% @locations.each do |location| %>
                    <li class="search-item">
                      <%= link_to(image_fu(location.cover_image, "105x80#c", :alt => location.cover_image.alt_tag),refinery.locations_location_path(location)) if location.cover_image.present? %>
                      <div class="search-item-body">
                        <h3><%= link_to strip_tags(location.name), refinery.locations_location_path(location) %></h3>
                        <div class="description"><%=raw truncate(location.description, :length => 120) %></div>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% elsif @location.present? and check_location(@location.id) %>

      <div id="welcome">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 div1 truncate_text">
                <%=raw @location.description %>
            </div>
            <div class="col-xs-12">
              <a href="#contact_area" class="btn btn-enquire btn-custom">Enquire Now</a>
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="">
                            <h1><%= copywriting('Contact title', {:phrase_type => 'string', :scope => 'Footer', :default => 'Let us tailor make your next journey' }) %></h1>
                            <p><%= copywriting('Contact Text', {:phrase_type => 'text', :scope => 'Footer', :default => 'Whether you are a seasoned Africa traveller or going to Africa for the very first time, we would love to speak to you. Our first aim is to get to know you, what interests you have and to then match these with our tailormade collection of experiences, camps and lodges. It is always best to talk this over and get the ball rolling from there, so please do pick up the phone for an informal chat with us. We look forward to speaking with you and tailor making your next journey.' }) %></p>
                          </div>
                          <div class="contact-form">
                            <h2>Fill in the form below and we'll get back to you asap</h2>
                            <% @inquiry ||= ::Refinery::Inquiries::Inquiry.new %>
                            <%= simple_form_for [refinery, :inquiries, @inquiry], :html => {:class => 'form-vertical'} do |f| %>
                            <div class="row">
                              <div class="col-xs-12 col-sm-6">
                                <%= f.input :name, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' } %>
                                <%= f.input :email, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' }%>
                                <%= f.input :phone, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' } %>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <%= f.input :message, :wrapper => :bootstrap_12,:input_html  => {:rows=>6, :class => 'form-control' } %>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="captcha"></div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <%= f.input :captcha, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' } %>
                              </div>
                              <div class="col-xs-12">
                                <%= f.submit 'Submit', :class=>"btn btn-default btn-custom", :data => {:disable_with => "Saving..."} %>
                              </div>
                            </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <%#= link_to 'Start Your Journey', '#contact', :class=>"btn btn-default btn-custom" %>
            </div>
          </div>
        </div>
      </div>

      <% child_locations = Refinery::Locations::Location.where(:parent_id => @location.id) %>
      <% if child_locations.present? %>
        <div class="locations grey">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="slider">Explore the regions below</h2>
                <p class="click">Please click on each circle</p>
                <p><%=raw @location.side_body %></p>
                <div id="locations_slider">
                  <% child_locations.each do |child| %>
                    <div class="slide">
                      <%= link_to location_link(child)  do %>
                        <%= image_fu child.cover_image, "165x165#c", :alt => child.cover_image.alt_tag if child.cover_image.present? %>
                        <div class="name"><%= raw child.name %></div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <% if @location.depth == 0 %>
        <% safaris = Refinery::Activities::Activity.where("activity_type = ? OR activity_type = ?", 'safari_type', 'both') %>
        <% activities = Refinery::Activities::Activity.where("activity_type = ? OR activity_type = ?", 'experience', 'both') %>
        <div class="safari-experience white">
          <div class="container">
            <% if safaris.present? %>
              <div class="safari-type">
                <div class="row">
                  <div class="col-xs-12">
                    <h1>Best For ...</h1>
                    <p class="click">Please click on the options below</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="controls">
                      <span class="safari-slider-next"></span>
                      <span class="safari-slider-prev"></span>
                    </div>
                    <ul class="bxsliderSafari">
                      <% safaris.each do |item| %>
                        <li>
                          <div class="safari-type-item">
                            <%= link_to refinery.activities_activity_path(item) do %>
                              <%= image_fu item.image, "218x330#c" %>
                              <div class="caption">
                                <h3><%= raw item.name %></h3>
                                <div class="btn btn-custom">Read More</div>
                              </div>
                            <% end %>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
            <% if activities.present? %>
              <div class="experience white">
                <div class="row">
                  <div class="col-xs-12">
                    <h1>Africa Experiences</h1>
                    <p class="click">Please click on the options below</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="controls">
                      <span class="experience-slider-next"></span>
                      <span class="experience-slider-prev"></span>
                    </div>
                    <ul class="bxsliderExperience">
                      <% activities.each_slice(7).each do |items| %>
                        <li>
                          <% items.each do |item| %>
                            <% if item == items.first %>
                              <div class="experience-item main-item">
                                <%= link_to refinery.activities_activity_path(item) do %>
                                  <%= image_fu item.image, '440x330#c' %>
                                  <div class="caption">
                                    <h3><%= raw item.name %></h3>
                                  </div>
                                <% end %>
                              </div>
                            <% else %>
                              <div class="experience-item">
                                <%= link_to refinery.activities_activity_path(item) do %>
                                  <%= image_fu item.image, '217x162#c' %>
                                  <div class="caption">
                                    <h3><%= raw item.name %></h3>
                                  </div>
                                <% end %>
                              </div>
                            <% end %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="experience-footer">
                      <h3 class="hidden-xs">Tailormade Africa has something for everyone.</h3>
                      <h2 class="hidden-xs">Speak to an expert at +44 7809 726266 (Clyde) or +44 7791 360170 (Rob)</h2>
                      <a href="/activities" class="btn btn-custom">Browse All Experiences</a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% blogs = @location.posts.live.first(3) %>
      <% if blogs.present? %>
        <div id="locations-blog-container">
          <div class="recent-blogs">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h1>Recent <%= @location.name %> Posts</h1>
                </div>
              </div>
              <div class="row">
                <% blogs.each_with_index do |blog, index| %>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="recent-blog-item">
                      <%= link_to(image_fu(blog.image, '490x380#c', :class=>"img-responsive"), refinery.blog_post_path(blog)) %>
                      <div class="caption cf">
                        <div class="title"><%= link_to blog.title, refinery.blog_post_path(blog) %></div>
                        <div class="date"><%= blog.published_at.strftime('%B %e, %Y') %></div>
                        <div class="comment"><a><i class="fa fa-comment-o"></i><%= blog.comments.count %></a></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>



    <% else %>
      <div id="welcome">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 div1 truncate_text">
              <%= raw(@location.description) %>
            </div>
            <div class="col-xs-12">
              <a href="#contact_area" class="btn btn-enquire btn-custom">Enquire Now</a>
              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="">
                            <h1><%= copywriting('Contact title', {:phrase_type => 'string', :scope => 'Footer', :default => 'Let us tailor make your next journey' }) %></h1>
                            <p><%= copywriting('Contact Text', {:phrase_type => 'text', :scope => 'Footer', :default => 'Whether you are a seasoned Australia traveller or going to Africa for the very first time, we would love to speak to you. Our first aim is to get to know you, what interests you have and to then match these with our tailormade collection of experiences, camps and lodges. It is always best to talk this over and get the ball rolling from there, so please do pick up the phone for an informal chat with us. We look forward to speaking with you and tailor making your next journey.' }) %></p>
                          </div>
                          <div class="contact-form">
                            <h2>Fill in the form below and we'll get back to you asap</h2>
                            <% @inquiry ||= ::Refinery::Inquiries::Inquiry.new %>
                            <%= simple_form_for [refinery, :inquiries, @inquiry], :html => {:class => 'form-vertical'} do |f| %>
                            <div class="row">
                              <div class="col-xs-12 col-sm-6">
                                <%= f.input :name, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' } %>
                                <%= f.input :email, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' }%>
                                <%= f.input :phone, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' } %>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <%= f.input :message, :wrapper => :bootstrap_12,:input_html  => {:rows=>6, :class => 'form-control' } %>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <div class="captcha"></div>
                              </div>
                              <div class="col-xs-12 col-sm-6">
                                <%= f.input :captcha, :wrapper => :bootstrap_12, :input_html => { :class => 'form-control' } %>
                              </div>
                              <div class="col-xs-12">
                                <%= f.submit 'Submit', :class=>"btn btn-default btn-custom", :data => {:disable_with => "Saving..."} %>
                              </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <%#= link_to 'Start Your Journey', '#contact', :class=>"btn btn-default btn-custom" %>
            </div>
          </div>
        </div>
      </div>

        <% accommodations = @location.accommodations %>
        <% if accommodations.present? %>
          <div class="accommodations" style="margin-top:-50px;">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h2 class="slider" id="camps">Explore the camps below</h2>
                  <p class="click">Please click on each circle</p>
                  <div id="accommodations_slider">
                    <% accommodations.each do |accommodation| %>
                      <div class="slide">
                        <%= link_to refinery.accommodations_accommodation_path(accommodation), :remote => true do %>
                          <%= image_fu accommodation.cover_image, "165x165#c", :alt => accommodation.cover_image.alt_tag if accommodation.cover_image.present? %>
                          <div class="name"><%= raw accommodation.name %></div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

    <!--           start           -->
    <div class="accommodation_item" id="accommodation_item"></div>
    <!--            end             -->

    <% blogs = @location.posts.live.first(3) %>
    <% if blogs.present? %>
        <div id="locations-blog-container">
          <div class="recent-blogs">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <h1>Recent <%= @location.name %> Posts</h1>
                </div>
              </div>
              <div class="row">
                <% blogs.each_with_index do |blog, index| %>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="recent-blog-item">
                        <%= link_to(image_fu(blog.image, '490x380#c', :class=>"img-responsive"), refinery.blog_post_path(blog)) %>
                        <div class="caption cf">
                          <div class="title"><%= link_to blog.title, refinery.blog_post_path(blog) %></div>
                          <div class="date"><%= blog.published_at.strftime('%B %e, %Y') %></div>
                          <div class="comment"><a><i class="fa fa-comment-o"></i><%= blog.comments.count %></a></div>
                        </div>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

  <% end %>

    <%= render '/refinery/footer' -%>

    <%= render '/refinery/javascripts' %>

  </body>
</html>
